.layoutDashBoard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    border: 8px solid #0d171f;
    background: #0d171f;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.15),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.banner {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #0d171f;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 1s;
    padding: 5px;
}

.banner.active {
    position: relative;
    width: 93%;
    transition: 1s;
}

